<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myntracommunity.teamincognito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myntracommunitylogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyntraCommunity">
        <activity android:name=".util.KidsActivity" />
        <activity android:name=".util.MenActivity" />
        <activity android:name=".auth.GoogleAuth" />
        <activity android:name=".ui.main.ProductActivity" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.PostActivity" />
        <activity
            android:name=".ui.main.VideoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.main.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.myntracommunity.teamincognito"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>